  <!-- Item latest -->
  <div class="m-b-45">
    <a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
      <img src="/assets/images/latest-01.jpg" alt="IMG">
    </a>

    <div class="p-t-16">
      <h5 class="p-b-5">
        <a href="blog-detail-01.html" class="f1-m-3 cl2 hov-cl10 trans-03">
          You wish lorem ipsum dolor sit amet consectetur
        </a>
      </h5>

      <span class="cl8">
        <a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
          by John Alvarado
        </a>

        <span class="f1-s-3 m-rl-3">
          -
        </span>

        <span class="f1-s-3">
          Feb 18
        </span>
      </span>
    </div>
  </div>
