<div class="wrap-pic-w pos-relative">
  <img src="/assets/images/video-01.jpg" alt="IMG">

  <button class="s-full ab-t-l flex-c-c fs-32 cl0 hov-cl10 trans-03" data-toggle="modal" data-target="#modal-video-01">
    <span class="fab fa-youtube"></span>
  </button>
</div>

<div class="p-tb-16 p-rl-25 bg3">
  <h5 class="p-b-5">
    <a href="#" class="f1-m-3 cl0 hov-cl10 trans-03">
      Music lorem ipsum dolor sit amet consectetur
    </a>
  </h5>

  <span class="cl15">
    <a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
      by John Alvarado
    </a>

    <span class="f1-s-3 m-rl-3">
      -
    </span>

    <span class="f1-s-3">
      Feb 18
    </span>
  </span>
</div>
