<ul class="p-t-35">
  <li class="flex-wr-sb-c p-b-20">
    <a href="#" class="size-a-8 flex-c-c borad-3 size-a-8 bg-facebook fs-16 cl0 hov-cl0">
      <span class="fab fa-facebook-f"></span>
    </a>

    <div class="size-w-3 flex-wr-sb-c">
      <span class="f1-s-8 cl3 p-r-20">
        6879 Fans
      </span>

      <a href="#" class="f1-s-9 text-uppercase cl3 hov-cl10 trans-03">
        Like
      </a>
    </div>
  </li>

  <li class="flex-wr-sb-c p-b-20">
    <a href="#" class="size-a-8 flex-c-c borad-3 size-a-8 bg-twitter fs-16 cl0 hov-cl0">
      <span class="fab fa-twitter"></span>
    </a>

    <div class="size-w-3 flex-wr-sb-c">
      <span class="f1-s-8 cl3 p-r-20">
        568 Followers
      </span>

      <a href="#" class="f1-s-9 text-uppercase cl3 hov-cl10 trans-03">
        Follow
      </a>
    </div>
  </li>

  <li class="flex-wr-sb-c p-b-20">
    <a href="#" class="size-a-8 flex-c-c borad-3 size-a-8 bg-youtube fs-16 cl0 hov-cl0">
      <span class="fab fa-youtube"></span>
    </a>

    <div class="size-w-3 flex-wr-sb-c">
      <span class="f1-s-8 cl3 p-r-20">
        5039 Subscribers
      </span>

      <a href="#" class="f1-s-9 text-uppercase cl3 hov-cl10 trans-03">
        Subscribe
      </a>
    </div>
  </li>
</ul>
